USE [master]
GO
/****** Object:  Database [Web]    Script Date: 4/4/2020 2:28:43 PM ******/
CREATE DATABASE [Web]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Web', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TAMSQL\MSSQL\DATA\Web.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Web_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TAMSQL\MSSQL\DATA\Web_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Web].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Web]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 4/4/2020 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[IdBan] [int] IDENTITY(1,1) NOT NULL,
	[Ngay] [date] NULL,
	[IdDoiTac] [int] NULL,
	[Phe] [money] NULL,
	[ChiPhi] [money] NULL,
	[TrangThai] [bit] NULL,
	[TongKg] [float] NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK_Ban] PRIMARY KEY CLUSTERED 
(
	[IdBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BaoCao]    Script Date: 4/4/2020 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCao](
	[IdBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[IdMua] [int] NULL,
	[IdBan] [int] NULL,
	[ChenhLech] [money] NULL,
	[Khoiluong] [float] NULL,
	[Ngay] [date] NULL,
	[TonKho] [float] NULL,
 CONSTRAINT [PK_BaoCao] PRIMARY KEY CLUSTERED 
(
	[IdBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ca]    Script Date: 4/4/2020 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ca](
	[IdCa] [int] IDENTITY(1,1) NOT NULL,
	[TenCa] [nvarchar](50) NULL,
	[giaNhap] [money] NULL,
	[anh] [nvarchar](max) NULL,
	[TongKhoiLuong] [float] NULL,
	[giaBan] [money] NULL,
 CONSTRAINT [PK_Ca] PRIMARY KEY CLUSTERED 
(
	[IdCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoiTac]    Script Date: 4/4/2020 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DoiTac](
	[IdDoiTac] [int] IDENTITY(1,1) NOT NULL,
	[TenDt] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[Sdt] [varchar](12) NULL,
	[Loai] [varchar](50) NULL,
 CONSTRAINT [PK_DoiTac] PRIMARY KEY CLUSTERED 
(
	[IdDoiTac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ma_Ban]    Script Date: 4/4/2020 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ma_Ban](
	[IdMa] [int] NOT NULL,
	[IdBan] [int] NOT NULL,
 CONSTRAINT [PK_Ma_Ban] PRIMARY KEY CLUSTERED 
(
	[IdMa] ASC,
	[IdBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ma_Mua]    Script Date: 4/4/2020 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ma_Mua](
	[IdMa] [int] NOT NULL,
	[IdMua] [int] NOT NULL,
 CONSTRAINT [PK_Ma_Mua] PRIMARY KEY CLUSTERED 
(
	[IdMa] ASC,
	[IdMua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MaBan]    Script Date: 4/4/2020 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaBan](
	[IdMaBan] [int] IDENTITY(1,1) NOT NULL,
	[KhoiLuong] [float] NULL,
	[IdCa] [int] NULL,
	[GiaBan] [money] NULL,
	[NguoiMua] [nvarchar](50) NULL,
 CONSTRAINT [PK_MaMua] PRIMARY KEY CLUSTERED 
(
	[IdMaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MaMua]    Script Date: 4/4/2020 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaMua](
	[IdMaMua] [int] IDENTITY(1,1) NOT NULL,
	[KhoiLuong] [float] NULL,
	[IdCa] [int] NULL,
	[GiaMua] [money] NULL,
	[ViTri] [int] NULL,
 CONSTRAINT [PK_MaMua_1] PRIMARY KEY CLUSTERED 
(
	[IdMaMua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mua]    Script Date: 4/4/2020 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mua](
	[IdMua] [int] IDENTITY(1,1) NOT NULL,
	[Ngay] [date] NULL,
	[IdDoiTac] [int] NULL,
	[Phe] [money] NULL,
	[ChiPhi] [money] NULL,
	[TrangThai] [bit] NULL,
	[TongKg] [float] NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK_Mua] PRIMARY KEY CLUSTERED 
(
	[IdMua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[taikhoan]    Script Date: 4/4/2020 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[taikhoan](
	[nguoiDung] [varchar](50) NOT NULL,
	[matKhau] [varchar](50) NULL,
 CONSTRAINT [PK_taikhoan] PRIMARY KEY CLUSTERED 
(
	[nguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Ban] ON 

INSERT [dbo].[Ban] ([IdBan], [Ngay], [IdDoiTac], [Phe], [ChiPhi], [TrangThai], [TongKg], [TongTien]) VALUES (1, CAST(N'2020-03-20' AS Date), NULL, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[Ban] ([IdBan], [Ngay], [IdDoiTac], [Phe], [ChiPhi], [TrangThai], [TongKg], [TongTien]) VALUES (2, CAST(N'2020-03-29' AS Date), 3, 0.3000, 0.0100, 0, 1, 1.0000)
INSERT [dbo].[Ban] ([IdBan], [Ngay], [IdDoiTac], [Phe], [ChiPhi], [TrangThai], [TongKg], [TongTien]) VALUES (3, CAST(N'2020-03-30' AS Date), 3, 0.0200, 0.0200, 0, 1, 1.0000)
SET IDENTITY_INSERT [dbo].[Ban] OFF
SET IDENTITY_INSERT [dbo].[BaoCao] ON 

INSERT [dbo].[BaoCao] ([IdBaoCao], [IdMua], [IdBan], [ChenhLech], [Khoiluong], [Ngay], [TonKho]) VALUES (11, 37, 7, -5983720.0000, 0, CAST(N'2020-04-03' AS Date), 191)
SET IDENTITY_INSERT [dbo].[BaoCao] OFF
SET IDENTITY_INSERT [dbo].[Ca] ON 

INSERT [dbo].[Ca] ([IdCa], [TenCa], [giaNhap], [anh], [TongKhoiLuong], [giaBan]) VALUES (1, N'Rô 1', 25000.0000, NULL, 0, 27000.0000)
INSERT [dbo].[Ca] ([IdCa], [TenCa], [giaNhap], [anh], [TongKhoiLuong], [giaBan]) VALUES (2, N'Rô 2', 25000.0000, NULL, 0, 27000.0000)
INSERT [dbo].[Ca] ([IdCa], [TenCa], [giaNhap], [anh], [TongKhoiLuong], [giaBan]) VALUES (3, N'Chép', 35000.0000, NULL, 0, 40000.0000)
SET IDENTITY_INSERT [dbo].[Ca] OFF
SET IDENTITY_INSERT [dbo].[DoiTac] ON 

INSERT [dbo].[DoiTac] ([IdDoiTac], [TenDt], [DiaChi], [Sdt], [Loai]) VALUES (1, N'', N'', N' ', N' ')
INSERT [dbo].[DoiTac] ([IdDoiTac], [TenDt], [DiaChi], [Sdt], [Loai]) VALUES (2, N'Long', N'Hải Phòng', N'0121231233', N'Mua')
INSERT [dbo].[DoiTac] ([IdDoiTac], [TenDt], [DiaChi], [Sdt], [Loai]) VALUES (3, N'Ngừng', N'Tứ Kỳ - Hải Duong', N'0123455689', N'Ban')
SET IDENTITY_INSERT [dbo].[DoiTac] OFF
INSERT [dbo].[Ma_Ban] ([IdMa], [IdBan]) VALUES (2, 1)
INSERT [dbo].[Ma_Ban] ([IdMa], [IdBan]) VALUES (2, 2)
INSERT [dbo].[Ma_Ban] ([IdMa], [IdBan]) VALUES (2, 3)
INSERT [dbo].[Ma_Mua] ([IdMa], [IdMua]) VALUES (9, 10)
INSERT [dbo].[Ma_Mua] ([IdMa], [IdMua]) VALUES (10, 10)
INSERT [dbo].[Ma_Mua] ([IdMa], [IdMua]) VALUES (11, 10)
SET IDENTITY_INSERT [dbo].[MaBan] ON 

INSERT [dbo].[MaBan] ([IdMaBan], [KhoiLuong], [IdCa], [GiaBan], [NguoiMua]) VALUES (1, 65, 1, 33000.0000, N'tam')
INSERT [dbo].[MaBan] ([IdMaBan], [KhoiLuong], [IdCa], [GiaBan], [NguoiMua]) VALUES (2, 65, 2, 27000.0000, N'tam')
INSERT [dbo].[MaBan] ([IdMaBan], [KhoiLuong], [IdCa], [GiaBan], [NguoiMua]) VALUES (3, 65, 3, 40000.0000, N'tam')
SET IDENTITY_INSERT [dbo].[MaBan] OFF
SET IDENTITY_INSERT [dbo].[MaMua] ON 

INSERT [dbo].[MaMua] ([IdMaMua], [KhoiLuong], [IdCa], [GiaMua], [ViTri]) VALUES (9, 56, 2, 25000.0000, 1)
INSERT [dbo].[MaMua] ([IdMaMua], [KhoiLuong], [IdCa], [GiaMua], [ViTri]) VALUES (10, 65, 2, 35000.0000, 1)
INSERT [dbo].[MaMua] ([IdMaMua], [KhoiLuong], [IdCa], [GiaMua], [ViTri]) VALUES (11, 40, 4, 30000.0000, 1)
SET IDENTITY_INSERT [dbo].[MaMua] OFF
SET IDENTITY_INSERT [dbo].[Mua] ON 

INSERT [dbo].[Mua] ([IdMua], [Ngay], [IdDoiTac], [Phe], [ChiPhi], [TrangThai], [TongKg], [TongTien]) VALUES (10, CAST(N'2020-03-25' AS Date), 1, 3.0000, 3.0000, NULL, 0, 1.0000)
INSERT [dbo].[Mua] ([IdMua], [Ngay], [IdDoiTac], [Phe], [ChiPhi], [TrangThai], [TongKg], [TongTien]) VALUES (25, CAST(N'2020-03-27' AS Date), NULL, NULL, NULL, NULL, 0, 0.0000)
INSERT [dbo].[Mua] ([IdMua], [Ngay], [IdDoiTac], [Phe], [ChiPhi], [TrangThai], [TongKg], [TongTien]) VALUES (26, CAST(N'2020-03-27' AS Date), 3, 2.0000, 300000.0000, NULL, 0, 1.0000)
SET IDENTITY_INSERT [dbo].[Mua] OFF
INSERT [dbo].[taikhoan] ([nguoiDung], [matKhau]) VALUES (N'qyh', N'123')
INSERT [dbo].[taikhoan] ([nguoiDung], [matKhau]) VALUES (N'tam', N'123')
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD  CONSTRAINT [FK_Ban_DoiTac] FOREIGN KEY([IdDoiTac])
REFERENCES [dbo].[DoiTac] ([IdDoiTac])
GO
ALTER TABLE [dbo].[Ban] CHECK CONSTRAINT [FK_Ban_DoiTac]
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD  CONSTRAINT [FK_BaoCao_Ban] FOREIGN KEY([IdBan])
REFERENCES [dbo].[Ban] ([IdBan])
GO
ALTER TABLE [dbo].[BaoCao] CHECK CONSTRAINT [FK_BaoCao_Ban]
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD  CONSTRAINT [FK_BaoCao_Mua] FOREIGN KEY([IdMua])
REFERENCES [dbo].[Mua] ([IdMua])
GO
ALTER TABLE [dbo].[BaoCao] CHECK CONSTRAINT [FK_BaoCao_Mua]
GO
ALTER TABLE [dbo].[Ma_Ban]  WITH CHECK ADD  CONSTRAINT [FK_Ma_Ban_Ban] FOREIGN KEY([IdMa])
REFERENCES [dbo].[Ban] ([IdBan])
GO
ALTER TABLE [dbo].[Ma_Ban] CHECK CONSTRAINT [FK_Ma_Ban_Ban]
GO
ALTER TABLE [dbo].[Ma_Ban]  WITH CHECK ADD  CONSTRAINT [FK_Ma_Ban_MaBan] FOREIGN KEY([IdBan])
REFERENCES [dbo].[MaBan] ([IdMaBan])
GO
ALTER TABLE [dbo].[Ma_Ban] CHECK CONSTRAINT [FK_Ma_Ban_MaBan]
GO
ALTER TABLE [dbo].[Ma_Mua]  WITH CHECK ADD  CONSTRAINT [FK_Ma_Mua_MaMua] FOREIGN KEY([IdMa])
REFERENCES [dbo].[MaMua] ([IdMaMua])
GO
ALTER TABLE [dbo].[Ma_Mua] CHECK CONSTRAINT [FK_Ma_Mua_MaMua]
GO
ALTER TABLE [dbo].[Ma_Mua]  WITH CHECK ADD  CONSTRAINT [FK_Ma_Mua_Mua] FOREIGN KEY([IdMua])
REFERENCES [dbo].[Mua] ([IdMua])
GO
ALTER TABLE [dbo].[Ma_Mua] CHECK CONSTRAINT [FK_Ma_Mua_Mua]
GO
ALTER TABLE [dbo].[MaBan]  WITH CHECK ADD  CONSTRAINT [FK_MaBan_Ca] FOREIGN KEY([IdCa])
REFERENCES [dbo].[Ca] ([IdCa])
GO
ALTER TABLE [dbo].[MaBan] CHECK CONSTRAINT [FK_MaBan_Ca]
GO
ALTER TABLE [dbo].[MaMua]  WITH CHECK ADD  CONSTRAINT [FK_MaMua_Ca] FOREIGN KEY([IdCa])
REFERENCES [dbo].[Ca] ([IdCa])
GO
ALTER TABLE [dbo].[MaMua] CHECK CONSTRAINT [FK_MaMua_Ca]
GO
ALTER TABLE [dbo].[Mua]  WITH CHECK ADD  CONSTRAINT [FK_Mua_DoiTac] FOREIGN KEY([IdDoiTac])
REFERENCES [dbo].[DoiTac] ([IdDoiTac])
GO
ALTER TABLE [dbo].[Mua] CHECK CONSTRAINT [FK_Mua_DoiTac]
GO
USE [master]
GO
